body {
    padding: 10px;
}
.greyback {
    background-color: lightskyblue;
}
.center {
    text-align: center;
}
button {
    /*    display: inline;*/
    width: auto;
    padding: 4px;
}
.big-display {
    font-family: cursive;
    font-size: 40px;
    margin: 10px;
}
img {
    width: 100%;
    height: auto;
}
.photobox {
    /*    display: block;*/
    float: left;
}
